@font-face {
    font-family: 'The Seasons';
    src: url('./resources/the-seasons/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons Italic';
    src: url('./resources/the-seasons/Fontspring-DEMO-theseasons-it.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons Bold';
    src: url('./resources/the-seasons/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joliet';
    src: url('./resources/joliet/Joliet-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    background-image: url(./resources/background_v2.jpg);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -5rem;
    color: #4f3325;
}

html, body {
    margin: 0;
    min-height: 100vh;
}


.logo {
    width: 9rem;
    margin-left: 2rem;
}

.container{
    display: flex;
    width: 60%;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*margin-top: -1rem;*/
    color: #4f3325;
}

.title {
    font-family: 'Joliet';
    font-size: 12rem;
}

.content {
    font-family: 'The Seasons Italic';
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 4rem;
}

.info-collection{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

input {
    opacity: 50%;
    border-radius: 2rem;
    width: 75%;
    height: 2.75rem;
    margin-bottom: 2.5rem;
    border: 0.15rem solid #4f3325;
    padding-left: 1.5rem;
    font-size: 1.15rem;
    font-family: 'The Seasons';
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}



button {
    color: #4f3325;
    border-radius: 1.5rem;
    width: fit-content;
    height: 2rem;
    font-family: 'The Seasons Bold';
    font-size: 0.9rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255,0.85);
    opacity: 80%;
    border: 0.15rem solid #4f3325;
    cursor: pointer;
}

.gdpr {
    margin-top: 1rem;
    font-size: 0.7rem;
    font-style: italic;

}

footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; /* 1rem is 16px, 2rem is 32px */
    color:#4f3325;
    font-size: 0.75rem; /* 0.75rem is 12px */
    align-items: center;
    bottom: 0;
    margin-top: 2rem;
}

@media only screen and (min-width: 450px) and (max-width: 980px) {
    div#myPopup {
        margin-top: 15%;
        width: 75%;
    }

}
@media only screen and (max-width: 980px) {

    .logo {
        width: 12rem;
        margin-top: 2rem;
    }

    .container {
        margin-top: 0;
        width: 80%;
    }

    .content {
        width: 90%;
    }
    

    .info-collection {
        margin-top: 5rem;
        width: 70%;
    }

    input {
        height: 3rem;

    }

    .gdpr {
        font-size: 0.85rem;
        width: auto;
        margin-top: 2rem;
    }

    footer {
       /* position: absolute;*/
        font-size: 1.25rem;
    }

    .popup-bottom {
        padding: 5% 0 12% 0;
        /* width: 60%; */
        margin: 0 15%;
        line-height: 3.5rem;
    }

    .button-div {
        padding: 1.5rem;
        justify-items: flex-end;
        border: none;
    }

    .popup {
        top: 40%
    }
}

@media only screen and (max-width: 449px) {
    div#myPopup {
        margin-top: 0;
        width: 75%;
    }
    .logo {
        width: 12rem;
        margin-top: 2rem;
    }

    .container {
        margin-top: 0;
        width: 80%;
    }

    .content {
        width: 90%;
    }
    

    .info-collection {
        margin-top: 5rem;
        width: 70%;
    }

    input {
        height: 3rem;

    }

    .gdpr {
        font-size: 0.85rem;
        width: auto;
        margin-top: 2rem;
    }

    footer {
       /* position: absolute;*/
        font-size: 1.25rem;
    }

    .popup-bottom {
        padding: 5% 0 12% 0;
        /* width: 60%; */
        margin: 0 15%;
        line-height: 3.5rem;
    }

    .button-div {
        padding: 1.5rem;
        justify-items: flex-end;
        border: none;
    }

    .popup {
        top: 40%
    }

}

.popup {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

#show {
    visibility: visible;
    opacity: 0.95;
    transition: opacity 0.3s ease-in-out;
}

.popuptext {
    width: 60%;
    background-color: #e2d5c9;
   /* background-size: cover;*/
   /* background-position: center;*/
   /* background-repeat: no-repeat;*/
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0;
    position: absolute;
    z-index: 1;
    /*margin: 0;*/
    left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #4f3325;
    font-family: 'The Seasons Italic';
}

.button-div {
    padding: 1.5rem;
    justify-items: flex-end;
    border: none;
}

button#closePopup{
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.popup-bottom {
    padding: 5% 0 12% 0;
    /* width: 60%; */
    margin: 0 15%;
    line-height: 3.5rem;
}